<h1>Bookmarks#index</h1>
<p>Here's a list of Blocmarks. <%= link_to "Show All", bookmarks_path %></p>
<% @bookmarks.each do |bookmark| %>
  <p><%= link_to bookmark.title, "#{bookmark.url}" %><%= link_to "edit", edit_bookmark_path(bookmark[:id]) %></p>
  <% if not bookmark.tag_list.empty? %>
    <p>Tags: <%= raw bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
  <% end %>
<% end %>


  <h3>Create a new bookmark</h3>
    <%= render partial: "form", locals: {bookmark: @bookmark} %>

  <h3>List of all tags</h3>
    <% Bookmark.tag_counts_on(:tags).each do |tag| %>
      <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>